{% extends 'base.html' %}
{% load static %}
{% block content_title %}
    <div class="d-flex justify-content-between" title="Add new ingredient">
        <h4>Ingredients</h4>
        <a href="{% url 'recipes:add_ingredient' %}">
            <button type="button" class="btn btn-primary">
                <i class="bi bi-plus-square"></i>
                New ingredient
            </button>

        </a>
    </div>


{% endblock %}
{% block content %}

    <div class="card shadow">
        <div class="card-body">

            {% if not ingredient_list %}
                <h6>
                    No ingredients exist yet. You can add a new ingredient
                    <a href="{% url 'recipes:add_ingredient' %}">here</a>.
                </h6>
            {% else %}
                <div class="input-group mb-3 py-2">
                    <span class="input-group-text search-input" id="basic-addon1">Search</span>
                    <input type="text" class="form-control" placeholder="Search in ingredients" aria-label="Username"
                           aria-describedby="basic-addon1" id="searchInput" onkeyup="search()">
                </div>
                <form action="" method="POST">
                    {% csrf_token %}

                    <table class="table table-hover recipe-list" id="recipe-list">
                        <thead>
                        <tr>
                            <th class="priority-1 text-center" scope="col">Ingredient</th>
                            <th class="priority-3 text-center" scope="col">Contains</th>
                            <th class="priority-3 text-center" scope="col"></th>


                        </tr>
                        </thead>
                        <tbody class="table-group-divider">

                        {% include 'recipes/ingredients_table.html' with load_more_url="recipes:list_ingredient" %}

                        </tbody>

                    </table>

                    <!-- Button trigger modal -->

                    <a href="#" data-bs-toggle="modal" data-bs-target="#recipe-modal-{{ ingredient.id }}"
                       title="Delete ingredient" class="text-decoration-none btn btn-outline-primary">
                        <i class="bi bi-trash"></i>
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" id="recipe-modal-{{ ingredient.id }}" tabindex="-1"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete Ingredient</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete {{ ingredient.name }}?
                                </div>
                                <div class="modal-footer">

                                    <button type="submit" class="btn btn-danger" name="delete" value="delete">Delete</button>
                                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>



            {% endif %}

        </div>
    </div>
{% endblock %}

{% block javascript %}
    {% if ingredient_list %}
        <script src="{% static 'app.js' %}"></script>
        <script src="{% static 'htmx.min.js' %}"></script>


    {% endif %}
{% endblock %}