{% extends 'base.html' %}
{% load static %}


{% block content_title %}
    <h4>{{ user }}'s recipes</h4>
{% endblock %}

{% block content %}
    <div class="card shadow">
        <div class="card-body">
            {% if not recipes_list %}
                <h6>
                    You currently don't have any recipes saved in your account. You can add recipes from the
                    <a href="{% url 'recipes:list_recipe' %}">recipe list</a>
                    .
                </h6>
            {% else %}

                {#                <form action="" method="GET">#}
                {#                    <input type="text" name="search_term" value="{{ request.GET.title }}">#}
                {#                    <input class="button" type="submit" value="Search">#}
                {#                </form>#}


                <div class="input-group mb-3 py-2">
                    <span class="input-group-text search-input" id="basic-addon1">Search</span>
                    <input type="text" class="form-control" placeholder="Search in recipes" aria-label="Username"
                           aria-describedby="basic-addon1" id="searchInput" onkeyup="search()">
                </div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <table class="table table-hover recipe-list" id="recipe-list">
                        <thead>
                        <tr>
                            <th class="priority-1 text-center" scope="col">Recipe</th>
                            <th class="priority-3 text-center" scope="col">Description</th>
                            <th class="priority-3 text-center" scope="col">Tags</th>

                        </tr>
                        </thead>
                        <tbody class="table-group-divider">

{#                        {% with load_more_url as "recipes:user_recipes" %}#}
                            {% include 'recipes/recipes_table.html' with load_more_url="recipes:user_recipes" %}
{#                        {% endwith %}#}

                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-outline-primary" name="shop" value=shop">Go shopping
                    </button>

                    <!-- Button trigger modal -->
                    <a href="#" data-bs-toggle="modal" data-bs-target="#user-recipe-modal"
                       title="Delete recipe" class="btn btn-outline-primary">
                        <i class="bi bi-trash text-decoration-none"></i>
                    </a>

                    <!-- Modal -->
                    <div class="modal fade" id="user-recipe-modal" tabindex="-1"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Remove from account</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to remove from your account?
                                </div>
                                <div class="modal-footer">

                                    <button type="submit" class="btn btn-danger" name="delete" value=delete">Delete
                                    </button>

                                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            {% endif %}

        </div>
    </div>
{% endblock %}


{% block random_recipe %}
    <div class="card shadow">
        <div class="card-body">
            {% if not recipes_list %}

                <p>Recipe of the day: To get a daily recipe suggestion, add recipes to your account from the
                    <a href="{% url 'recipes:list_recipe' %}">recipe list</a>.
                </p>
            {% else %}
                <p>Recipe of the day: <a
                        href="{% url 'recipes:detail_recipe' random_recipe.id %}"> {{ random_recipe.title }}</a>
                </p>
            {% endif %}
        </div>
    </div>

{% endblock %}


{% block javascript %}
    {% if recipes_list %}
        <script src="{% static 'app.js' %}"></script>
        <script src="{% static 'htmx.min.js' %}"></script>
    {% endif %}
{% endblock %}




