body {
font-size: .875rem;
}
.ck-editor__editable_inline {
min-height: 400px;
}

#div_id_steps label {
display: block;
}

#cke_id_steps {
width: auto !important;
}

#cke_id_ingredients {
width: auto !important;
}

.django-ckeditor-widget {
width: 100%;
}

@media screen and (max-width: 1225px) and (min-width: 1045px) {
    .priority-5{
        display:none;
    }
}

@media screen and (max-width: 1045px) and (min-width: 835px) {
    .priority-5{
        display:none;
    }
    .priority-4{
        display:none;
    }
}

@media screen and (max-width: 565px) and (min-width: 300px) {
    .priority-5{
        display:none;
    }
    .priority-4{
        display:none;
    }
    .priority-3{
        display:none;
    }
}

.carousel-caption {
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.37);
}

@media screen and (max-width: 300px) {
    .priority-5{
        display:none;
    }
    .priority-4{
        display:none;
    }
    .priority-3{
        display:none;
    }
    .priority-2{
        display:none;
    }

}

.search-input{
    background-color: rgba(56, 56, 56, 0.42);
    color: white;
}

.form-switch{
    margin-top: 0.45rem;
    margin-left: 1rem;
    margin-right: 1rem;
}


