{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content_title %}
    <h4>Log in</h4>
{% endblock %}

{% block content %}

     <form method="POST">
        {% csrf_token %}

        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="Login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    <div>Forgot your password? Reset <a href="{% url 'user:password_reset' %}">here</a>.</div>
    <div>Don't have an account? Sign up <a href="{% url 'user:signup' %}">here</a>.</div>

{% endblock %}