{% extends 'base.html' %}

{% block content_title %}

    <h4>My Profile</h4>

{% endblock %}

{% block content %}
    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <div class="d-flex flex-column justify-content-center p-4">
                <h5 class="card-title mx-auto">Hello, {{ user.username }}!</h5>
                <div class="mx-auto mb-4 p-3">
                    <img src="{{ MEDIA_URL }}{{ user.avatar.avatar }}" alt=""
                         class="rounded-circle img-fluid d-block border border-dark mx-auto">


                    <div class="accordion p-3" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Edit profile information
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse collapse"
                                 aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="mt-4 mb-1"><h6><a href="{% url 'user:password_change' %}"
                                                                class="link-primary">Change
                                    Password</a></h6></p>
                                    <p class="mt-4 mb-1"><h6><a href="{% url 'user:update_user' user.id %} "
                                                                class="link-primary">Change
                                    Username</a></h6></p>
                                    <p class="mt-4 mb-1"><h6><a href="{% url 'user:change_avatar' %} "
                                                                class="link-primary">Change
                                    Avatar</a></h6></p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    </div>
{% endblock %}