{% extends 'base.html' %}

{% block content_title %}

    <h4>My Profile</h4>

{% endblock %}

{% block content %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <div class="d-flex flex-column justify-content-center p-4">
                <h5 class="card-title mx-auto">Hello, {{ user.username }}!</h5>
                <div class="mx-auto mb-4 p-3">
                <img src="/media/profile_images/default.png" alt="" width="150" height="150"
                     class="rounded-circle img-fluid d-block border border-dark mx-auto">
                <p class="mt-4 mb-1"><h6><a href="{% url 'user:password_change' %}" class="link-primary">Change
                Password</a></h6></p>
                    <p class="mt-4 mb-1"><h6><a href="{% url 'user:update_user' user.id %} " class="link-primary">Update user</a></h6></p>
            </div>
                </div>
        </div>
    </div>
{% endblock %}